@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #b8312f !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #b8312f !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #b8312f;
}
.btn-social:hover {
  background: #b8312f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #b8312f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #b8312f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #b8312f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #b8312f;
}
.lead a,
.lead a:hover {
  color: #b8312f;
}
.lead blockquote {
  border-color: #b8312f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e08886;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #b8312f;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#menu-l .navbar-caption {
  color: #ffffff;
}
#menu-l .navbar-toggler {
  color: #ffffff;
}
#menu-l .close-icon::before,
#menu-l .close-icon::after {
  background-color: #ffffff;
}
#menu-l .link,
#menu-l .dropdown-item {
  color: #ffffff;
}
#menu-l .link {
  font-size: 0.75rem;
}
#menu-l .dropdown-item,
#menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-l .link:hover,
#menu-l .dropdown-item:hover,
#menu-l .link:focus,
#menu-l .dropdown-item:focus {
  color: #b8312f;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-menu {
  background: #a8a8a8;
}
#menu-l .nav-dropdown-sm .link:focus,
#menu-l .nav-dropdown-sm .link:hover,
#menu-l .nav-dropdown-sm .dropdown-item:focus,
#menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#menu-l .navbar,
#menu-l .nav-dropdown-sm,
#menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#menu-l .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-l .bg-color.transparent.opened .link:hover,
#menu-l .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-l .link[aria-expanded="true"],
#menu-l .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#header4-m .mbr-section-lead {
  color: #efefef;
}
#features1-o .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#header3-1r .mbr-section-title,
#header3-1r .mbr-section-subtitle {
  text-align: center;
}
#msg-box8-w .mbr-section-title,
#msg-box8-w p {
  color: #fff;
}
#menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-s .navbar-caption {
  color: #ffffff;
}
#menu-s .navbar-toggler {
  color: #ffffff;
}
#menu-s .close-icon::before,
#menu-s .close-icon::after {
  background-color: #ffffff;
}
#menu-s .link,
#menu-s .dropdown-item {
  color: #ffffff;
}
#menu-s .link {
  font-size: 0.75rem;
}
#menu-s .dropdown-item,
#menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-s .link:hover,
#menu-s .dropdown-item:hover,
#menu-s .link:focus,
#menu-s .dropdown-item:focus {
  color: #b8312f;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-menu {
  background: #a8a8a8;
}
#menu-s .nav-dropdown-sm .link:focus,
#menu-s .nav-dropdown-sm .link:hover,
#menu-s .nav-dropdown-sm .dropdown-item:focus,
#menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#menu-s .navbar,
#menu-s .nav-dropdown-sm,
#menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-s .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#menu-s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-s .bg-color.transparent.opened .link:hover,
#menu-s .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#msg-box8-11 .mbr-section-title,
#msg-box8-11 p {
  color: #fff;
}
#menu-y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-y .navbar-caption {
  color: #ffffff;
}
#menu-y .navbar-toggler {
  color: #ffffff;
}
#menu-y .close-icon::before,
#menu-y .close-icon::after {
  background-color: #ffffff;
}
#menu-y .link,
#menu-y .dropdown-item {
  color: #ffffff;
}
#menu-y .link {
  font-size: 0.75rem;
}
#menu-y .dropdown-item,
#menu-y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-y .link:hover,
#menu-y .dropdown-item:hover,
#menu-y .link:focus,
#menu-y .dropdown-item:focus {
  color: #b8312f;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-menu {
  background: #a8a8a8;
}
#menu-y .nav-dropdown-sm .link:focus,
#menu-y .nav-dropdown-sm .link:hover,
#menu-y .nav-dropdown-sm .dropdown-item:focus,
#menu-y .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#menu-y .navbar,
#menu-y .nav-dropdown-sm,
#menu-y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-y .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#menu-y .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-y .bg-color.transparent.opened .link:hover,
#menu-y .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-y .link[aria-expanded="true"],
#menu-y .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#msg-box8-15 .mbr-section-title,
#msg-box8-15 p {
  color: #fff;
}
#menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-12 .navbar-caption {
  color: #ffffff;
}
#menu-12 .navbar-toggler {
  color: #ffffff;
}
#menu-12 .close-icon::before,
#menu-12 .close-icon::after {
  background-color: #ffffff;
}
#menu-12 .link,
#menu-12 .dropdown-item {
  color: #ffffff;
}
#menu-12 .link {
  font-size: 0.75rem;
}
#menu-12 .dropdown-item,
#menu-12 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-12 .link:hover,
#menu-12 .dropdown-item:hover,
#menu-12 .link:focus,
#menu-12 .dropdown-item:focus {
  color: #b8312f;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-menu {
  background: #a8a8a8;
}
#menu-12 .nav-dropdown-sm .link:focus,
#menu-12 .nav-dropdown-sm .link:hover,
#menu-12 .nav-dropdown-sm .dropdown-item:focus,
#menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#menu-12 .navbar,
#menu-12 .nav-dropdown-sm,
#menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-12 .bg-color.transparent.opened .link:hover,
#menu-12 .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-12 .link[aria-expanded="true"],
#menu-12 .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-16 .navbar-caption {
  color: #ffffff;
}
#menu-16 .navbar-toggler {
  color: #ffffff;
}
#menu-16 .close-icon::before,
#menu-16 .close-icon::after {
  background-color: #ffffff;
}
#menu-16 .link,
#menu-16 .dropdown-item {
  color: #ffffff;
}
#menu-16 .link {
  font-size: 0.75rem;
}
#menu-16 .dropdown-item,
#menu-16 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-16 .link:hover,
#menu-16 .dropdown-item:hover,
#menu-16 .link:focus,
#menu-16 .dropdown-item:focus {
  color: #b8312f;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-menu {
  background: #a8a8a8;
}
#menu-16 .nav-dropdown-sm .link:focus,
#menu-16 .nav-dropdown-sm .link:hover,
#menu-16 .nav-dropdown-sm .dropdown-item:focus,
#menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#menu-16 .navbar,
#menu-16 .nav-dropdown-sm,
#menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-16 .bg-color.transparent.opened .link:hover,
#menu-16 .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
#form1-1m .form-control-label {
  color: #b8312f;
}
#msg-box8-1d .mbr-section-title,
#msg-box8-1d p {
  color: #fff;
}
#menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1e .navbar-caption {
  color: #ffffff;
}
#menu-1e .navbar-toggler {
  color: #ffffff;
}
#menu-1e .close-icon::before,
#menu-1e .close-icon::after {
  background-color: #ffffff;
}
#menu-1e .link,
#menu-1e .dropdown-item {
  color: #ffffff;
}
#menu-1e .link {
  font-size: 0.75rem;
}
#menu-1e .dropdown-item,
#menu-1e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1e .link:hover,
#menu-1e .dropdown-item:hover,
#menu-1e .link:focus,
#menu-1e .dropdown-item:focus {
  color: #b8312f;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-menu {
  background: #a8a8a8;
}
#menu-1e .nav-dropdown-sm .link:focus,
#menu-1e .nav-dropdown-sm .link:hover,
#menu-1e .nav-dropdown-sm .dropdown-item:focus,
#menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #b9b9b9!important;
}
#menu-1e .navbar,
#menu-1e .nav-dropdown-sm,
#menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #c1c1c1;
}
#menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1e .bg-color.transparent.opened .link:hover,
#menu-1e .bg-color.transparent.opened .link:focus {
  color: #b8312f;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-item[aria-expanded="true"] {
  color: #b8312f!important;
}
